bm25s==0.2.13
dlai_grader==1.22.2
ipython==9.5.0
ipywidgets==8.1.7
joblib==1.5.2
numpy==2.3.2
openai==1.106.1
pandas==2.3.2
python_dateutil==2.9.0.post0
Requests==2.32.5
sentence_transformers==5.1.0
together==1.5.25
