.wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.canvases {
  display: flex;
  gap: 1rem;
}
/* controll should be centered 
and wide as the canvases
*/
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

input {
  width: 100px;
  max-width: 300px;
  min-width: 80px;
  margin-bottom: 1rem;
}
